[Desktop Entry]
Name=Loqui
Name[ja]=Loqui
Comment=IRC client
Comment[ja]=IRCクライアント
Exec=loqui
Icon=loqui
Terminal=false
Type=Application
Categories=GTK;Network;IRCClient;
